/*<script src="core.js"></script>
  <script src="itr.js"></script>
  <script src="ajax.js"></script>
  <script>//*/
clrBody();
function _main() {
    out(". . . do real processing here . . .");
}//</script><div id="out"></div><script>main()</script>
